{% extends 'base/base.html' %}
{% load static %}
{% block description %}Página com vídeo gratuito de Python{% endblock description %}
{% block title %}Python Pro - Aperitivo{% endblock title %}
{% block body %}
<div class="container">
    <div class="roll">
        <div class="col-md-12">
            <h1 class="mt-4 mb-3">{{ video.titulo | default:"Faltando Título" }}</h1>
<!--            <iframe src="https://player.video.com/video/{{ video.vimeo_id }}" width="648" height="360" frameborder="0"-->
<!--                    webkitallowfullscreen mozallowfullsreen allowfullscreen></iframe>-->
        </div>
    </div>
</div>
{% endblock body %}